@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
  --accent: #00ffbb;
  --secondary: #6e6e6e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-source-code-pro);
  --font-title: var(--font-krona-one);
}

.alink{
  color: var(--color-secondary);
  transition: all 0.3s ease;
  border-bottom: dashed 1px;
  border-color: transparent;
}

.alink:hover {
  color: var(--color-accent); /* or whatever you want on hover */
  /* text-decoration-line: underline;
  text-decoration-style: dashed; */
  border-bottom: dashed 1px;
  border-color: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro), sans-serif;
}
